# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# build directory
build/*
cmake-build-debug/*

# Intellij IDEA
.idea/*

# test files
test/1
test/ll
test/lr0
test/test_lexer
test/test_pl0
